body 
{
	background-color:#3e0c0c;
	color:#FFFFFF;
	margin:0px auto;
	width:800px;
	height:600px;
	font-family:sans-serif;
}
/*divs*/
div 
	{
		padding:0px;
		margin:0px;
		border:0px;
	}
.button
	{
		height:200px;
		width:200px;
		position:relative;
		background-repeat:no-repeat;
		color:transparent;
		/*transformations*/
			-webkit-transition: all 0.7s ease;
			-moz-transition: all 0.7s ease;
			-o-transition: all 0.7s ease;
	}
.button:hover img
{
	opacity:0;
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
}
.button:hover
	{
		color:#FFFFFF;
	}

#b_left
	{
		background-image:url(./blog.png);
		top:25%;
		left:100px;
	}
#b_cent
	{
		background-image:url(./forum.png);
		left:300px;
		top:-50px;
	}
#b_right
	{
		background-image:url(./gallery.png);
		top:-250px;
		left:500px;
	}
#header
	{
		text-align:center;
		margin:0px auto;
		width:386px;
		height:129px;
		position:relative;
		top:10%;
	}
#footer
	{
		text-align:center;
		position:relative;
		top:-200px;
	}
/*headers*/
h1
{
	width:75px;
	text-align:center;
	padding:0px;
	border:0px;
	margin:0px;
	font-family:sans-serif;
	font-variant:small-caps;
	font-size:20px;
	float:left;
	position:relative;
	top:50px;
	left:108px;
}

/*img*/
.fade
{
	position:relative;
	left:-92px;
}
/*p*/
p
{
	margin:0px;
	padding:0px;
	border:0px;
}
.tooltip
{
	width:92px;
}

/*chrome fix*/
@media screen and (-webkit-min-device-pixel-ratio:0){
	h1
		{
			top:-150px;
			left:108px;
		}
	.fade
	{
		position:relative;
		left:-0px;
	}
}
